.button {
  border: none;
  background-color: transparent;
  padding: 0;
  border: 1.5px solid transparent;
  padding: 5px 40px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
}