.hero {
  padding-top: 136px;
  padding-bottom: 267px;
  background-image: url(/img/hero-left-bg.svg), url(/img/hero-bg.png);
  background-repeat: no-repeat;
  background-position: calc(50% - 720px) top, calc(50% + 250px) center;
  background-size: 131px 115px, 693px 598px;
}

.hero__left {
  max-width: 500px;
  padding-right: 60px;
}

.hero__heading {
  width: 427px;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 48px;
  line-height: 56px;
  color: $black-text;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 45px;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7D7987;
}

.hero__btn {
  background: #458FF6;
  border-radius: 55px;
  color: $white-text;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;

  &:hover {
    background-color: #fff;
    color: #458FF6;
    border-color: #458FF6;
  }

  &:active {
    opacity: 0.7;
  }
}

.hero__wrapper::after {
  content: "";
  padding-left: 60px;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/img/hero-bg.png");
  width: 693px;
  height: 598px;
  background-size: 693px 598px;
}

// RESPONSIVE
@include breakpoint-down (1150) {
  .hero {
    background-image: none, url(/img/hero-bg.png);
    background-size: 580px 450px;
    background-position:calc(50% + 200px) 100px;
    padding-bottom: 150px;
  }
}

@include breakpoint-down (1070) {
  .hero {
    background-size: 500px 350px;
    background-position:calc(50% + 200px) 100px;
  }

  .hero__left {
    max-width: 400px;
    padding-right: 0;
  }

  .hero__heading {
    margin-right: 0;
    width: 400px;
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 45px;
  }
}

@include breakpoint-down (900) {
  .hero__heading {
    margin-right: 0;
    width: 340px;
    margin-bottom: 20px;
    font-size: 38px;
    line-height: 40px;
  }

  .hero {
    background-size: 450px 350px;
    background-position:calc(50% + 180px) 100px;
  }

  .hero__text {
    width: 300px;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 30px;
  }
}

@include breakpoint-down (840) {

  .hero {
    background-size: 500px 400px;
    background-position:calc(50%) 300px;
  }

  .hero {
    padding-top: 30px;
    padding-bottom: 550px;
  }

  .hero__left {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }


  .hero__heading {
    width: 560px;
    margin-right: auto;
    margin-left: -70px;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 40px;
    text-align: center;
  }

  .hero__text {
    width: 550px;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 30px;
  }

  .hero__btn {
    background: #458FF6;
    border-radius: 40px;
    color: $white-text;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
}
}


@include breakpoint-down (670) {

  .hero {
    background-size: 400px 300px;
    background-position:calc(50%) 400px;
    padding-bottom: 500px;
  }

  .hero__heading {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 35px;
  }

  .hero__text {
    width: 350px;
    margin-bottom: 45px;
    font-size: 20px;
    line-height: 30px;
  }

  .hero__btn {
    padding: 0px 20px;
    border-radius: 30px;
    background: #458FF6;
    color: $white-text;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
}
}


@include breakpoint-down (424) {

  .hero {
    background-size: 330px 250px;
    background-position:calc(50%) 400px;
  }

  .hero__heading {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 30px;
  }

  .hero__text {
    width: 300px;
    margin-bottom: 45px;
    font-size: 18px;
    line-height: 25px;
  }
}