.logo {
  display: block;
  max-width: 160px;
  margin-right: 10px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__img {
  width: 160px;
  height: 41px;
}

// RESPONSIVE
@include breakpoint-down (840) {
  .logo__img {
    width: 140px;
    height: 35px;
  }
}